<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_10</title>
    <style>
        #container{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    </style>
</head>
<body>
    <div id="container">
        <div>div 1</div>
        <div>div 2</div>
        <div>div 3</div>        
        <div>div 4</div>                        
    </div>
</body>
</html>