<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_7</title>
    <style>
        #container{
            display: grid;
            grid-template: repeat(3, 150px) / repeat(3, 150px);           
            gap: 100px; 
        }
    </style>
</head>
<body>
    <div id="container">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus officia iste, minima officiis explicabo inventore veritatis sequi debitis dolor cumque, nisi perferendis nam! Voluptatem magnam odit doloribus asperiores quaerat autem!</p>        
    </div>
</body>
</html>