<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_3</title>
    <style>
        p{            
            column-width: 200px;
        }
    </style>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, labore beatae omnis eveniet delectus esse nostrum fuga a ad unde facere? Est quia exercitationem doloremque tempore ipsum assumenda architecto molestias.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, labore beatae omnis eveniet delectus esse nostrum fuga a ad unde facere? Est quia exercitationem doloremque tempore ipsum assumenda architecto molestias.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, labore beatae omnis eveniet delectus esse nostrum fuga a ad unde facere? Est quia exercitationem doloremque tempore ipsum assumenda architecto molestias.</p>
</body>
</html>