<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_5</title>
    <style>
        p{
            column-count: 3;
            height: 100px;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repudiandae eaque rem libero voluptatum rerum, vero fuga. Officia non dicta aliquid nemo eum omnis obcaecati voluptatibus, iste voluptas accusantium ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repudiandae eaque rem libero voluptatum rerum, vero fuga. Officia non dicta aliquid nemo eum omnis obcaecati voluptatibus, iste voluptas accusantium ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repudiandae eaque rem libero voluptatum rerum, vero fuga. Officia non dicta aliquid nemo eum omnis obcaecati voluptatibus, iste voluptas accusantium ad!</p>
</body>
</html>