<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_6</title>
    <style>
        ul{
            column-count: 4;
        }
    </style>
</head>
<body>
    <ul>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
        <li>list ele</li>
    </ul>
</body>
</html>