<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_7</title>
    <style>
        p{
            column-count: 2;
            column-gap: 20px;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eum saepe facilis sed eveniet odio! Ipsum quae deleniti, soluta maiores deserunt at dolorem voluptates aliquam temporibus perspiciatis dolor facere nihil.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eum saepe facilis sed eveniet odio! Ipsum quae deleniti, soluta maiores deserunt at dolorem voluptates aliquam temporibus perspiciatis dolor facere nihil.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eum saepe facilis sed eveniet odio! Ipsum quae deleniti, soluta maiores deserunt at dolorem voluptates aliquam temporibus perspiciatis dolor facere nihil.</p>
</body>
</html>