<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es_9</title>
    <style>
        p{
            column-count: 4;
            column-gap: 5px;
            height: 150px;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quos necessitatibus exercitationem earum omnis obcaecati maiores voluptates sit atque dolorem modi itaque molestiae quam, ab officiis inventore perferendis neque autem.</p>
</body>
</html>